@import "variables";
.films__item {
  position: relative;
  cursor: pointer;
  width: 280px;
  .films__item-image {
    width: 100%;
    height: 400px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 5px;
    transition: all 0.3s ease;
    &:hover {
      filter: brightness(110%) saturate(130%);
    }
  }
  .films__item-category {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 7px 14px;
    border: none;
    border-radius: 3px;
    text-align: center;
    color: $color-blue;
    font-size: 11px;
    font-family: Montserrat, sans-serif;
    font-weight: 400;
    background-color: #ffffff;
  }

  .films__item-footer {
    display: flex;
    flex-direction: column;
    //justify-content: space-between;
    height: 80px;
    margin-top: 15px;
    font-family: Montserrat, sans-serif;
      .films__item-footer-title {
        color: $color-blue;
        font-size: 20px;
        font-weight: 500;
        line-height: 26px;
        margin-bottom: 5px;
        max-height: 78px;
        overflow: hidden;
      }

      .films__item-footer-year {
        color: $color-main;
        font-size: 18px;
        font-weight: 400;
        max-height: 20px;
        overflow: hidden;
      }
  }
}

@media screen  and (max-width : 930px) {
  .films__item {
    width: 240px;
    .films__item-image {
      height: 340px;
    }
    .films__item-category {

    }
    .films__item-footer {
      margin-top: 5px;
      height: 60px;
      .films__item-footer-title {
        font-size: 16px;
        font-weight: 600;
        margin-bottom: 0;
        line-height: unset;
      }
      .films__item-footer-year {
        font-size: 16px;
      }
    }
  }
}
