<header class="header">
  <div class="container">
    <a routerLink="/" class="header__logo" [style.background-image]="'url(/assets/images/logo2.svg)'"></a>
    <div class="header__content">
      <div class="header__menu">
        <nav>
          <ul>
            <li>
              <a routerLink="/" >Фильмы</a>
            </li>
            <li>
              <a routerLink="/">Сериалы</a>
            </li>
            <li>
              <a routerLink="/">Мультфильмы</a>
            </li>
          </ul>
        </nav>
      </div>
      <div class="header__login">
        <div class="header__login_image">
          <img src="assets/images/avatar.png" alt="avatar image">
        </div>
        <div class="header__login_name">Пользователь</div>
      </div>
    </div>


  </div>
</header>
