<header class="header">
  <div class="container">
    <div class="header__logo">
      <a routerLink="/" class="header__logo_link" [style.background-image]="'url(/assets/images/logo2.svg)'"
         (click)="onLogoClick()"></a>
    </div>
    <div class="header__content">
      <div class="header__menu">
        <nav>
          <ul>
            <li *ngFor="let item of categories">
              <a [routerLink]="item.route"
                 [queryParams]= "item.queryParams"
                 [class.active]="activeCategoryId === item.id">
                {{item.name}}
              </a>
            </li>
          </ul>
        </nav>
      </div>
      <div class="header__login">
        <div class="header__login_image">
          <img src="assets/images/avatar.png" alt="avatar image">
        </div>
        <div class="header__login_name">Пользователь</div>
      </div>
      <div class="header__action">
        <button matIconButton [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
          <mat-icon>menu</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item>
            <mat-icon>done_outline</mat-icon>
            <a routerLink="/films" [queryParams]="{_expand: 'category', categoryId: 1}">Фильмы</a>
          </button>
          <button mat-menu-item>
            <mat-icon>done_outline</mat-icon>
            <a routerLink="/films" [queryParams]="{_expand: 'category', categoryId: 2}">Сериалы</a>
          </button>
          <button mat-menu-item>
            <mat-icon>done_outline</mat-icon>
            <a routerLink="/films" [queryParams]="{_expand: 'category', categoryId: 3}">Мультфильмы</a>
          </button>
        </mat-menu>
      </div>
    </div>
  </div>
</header>
