@import "variables";

.main {
  .container {

    .main__title {

    }
    .main__catalog {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;
      gap: 10px 15px;
    }
  }
}
