@import "variables";

html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Montserrat, sans-serif;
  font-weight: 400;
}

.container {
  max-width: $container-width;
  margin: 0 auto;
}

.mat-mdc-menu-panel {
  .mat-mdc-menu-content {
    padding: 0;
    .mat-mdc-menu-item-text {
      a, span {
        font-family: Montserrat, sans-serif;
        font-weight: 500;
        text-decoration: none;
        color: $color-main;
      }
    }
  }
}
