@import "variables";

.main__popup {
  position: relative;
  text-align: left;
  color: $color-blue;
  height: 300px;
  width: 550px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;

  .main__popup_close {
    position: absolute;
    cursor: pointer;
    top: 5%;
    right: 5%;
    z-index: 10;
  }

  .main__popup_body {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 150px 1fr;

    .main__popup_image {
      grid-row: 1 / 2;
      grid-column: 1 / 2;
      width: 150px;

      img {
        width: 100%;
        border-radius: 5px;
        border: 0;
      }
    }

    .main__popup_content {
      grid-row: 1 / 2;
      grid-column: 2 / 3;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      margin-left: 10px;

      .main__popup_title {
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 10px;
      }

      .main__popup_year {
        font-weight: 500;
        margin-bottom: 10px;
      }

      .main__popup_genre {
        font-weight: 500;
        margin-bottom: 10px;
      }

      .main__popup_description {

      }
    }

  }

  .main__popup_score {
    position: absolute;
    bottom: 16px;
    right: 20px;
    background-color: #ebeaea;
    padding: 4px;
    border-radius: 3px;

    span {
      font-weight: 500;
    }
  }
}

@media screen and (max-width: 690px) {
  .main__popup {
    width: 470px;

    .main__popup_close {
      top: 13px;
      right: 13px;
    }

    .main__popup_body {
      .main__popup_content {
        font-size: 14px;

        .main__popup_title {
          font-size: 16px;
        }
      }
    }
  }
}

@media screen and (max-width: 587px) {
  .main__popup {
    width: 400px;
    height: 350px;
    justify-content: flex-start;
    .main__popup_body {
      grid-template-rows: 2fr;
      grid-template-columns: 1fr;

      .main__popup_image {
        grid-row: 1 / 2;
        grid-column: 1 / 1;
        width: 100px;
        justify-self: center;
        img {
          width: 100%;
          border-radius: 5px;
          border: 0;
        }
      }

      .main__popup_content {
        grid-row: 2 / 3;
        grid-column: 1 / 2;
      }
    }

    .main__popup_score {
      position: absolute;
      top: 16px;
      left: 20px;
      bottom: unset;
      right: unset;
    }
  }
}
@media screen and (max-width: 500px) {
  .main__popup {
    width: 300px;
    height: 400px;
    .main__popup_body {
     .main__popup_image {
       justify-self: end;
       margin-right: 20px;
     }
    }
  }
}
@media screen and (max-width: 375px) {
  .main__popup {
    width: 280px;
    height: 420px;
  }
}
@media screen and (max-width: 325px) {
  .main__popup {
    width: 255px;
    height: 400px;
    padding: 20px 0 0 0;
    margin-left: unset;
    .main__popup_close {
      top: 5px;
      right: 7px;
    }
  }
}
