@import "variables";

.main__popup {
  position: relative;
  text-align: left;
  color: $color-blue;
  height: 300px;
  width: 550px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;


  .main__popup_close {
    position: absolute;
    cursor: pointer;
    top: 30px;
    right: 30px;
  }

  .main__popup_body {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 150px 1fr;

    .main__popup_image {
      grid-row: 1 / 2;
      grid-column: 1 / 2;
      width: 150px;
      img {
        width: 100%;
      }
    }
    .main__popup_content {
      grid-row: 1 / 2;
      grid-column: 2 / 3;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      margin-left: 10px;
      .main__popup_title {
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 10px;
      }
      .main__popup_year {
        font-weight: 500;
        margin-bottom: 10px;
      }
      .main__popup_genre {
        font-weight: 500;
        margin-bottom: 10px;
      }
      .main__popup_description {

      }
    }

  }

  .main__popup_score {
    position: absolute;
    bottom: 16px;
    right: 20px;
    background-color: #ebeaea;
    padding: 4px;
    border-radius: 3px;
    span {
      font-weight: 500;
    }
  }
}
